<div class="d-flex justify-content-around flex-wrap">
<app-cards *ngFor="let post of posts"
  [title]="post.title"
  [url]="post.url"
  [subtitle]="post.subtitle"
  [content]="post.content"
></app-cards>
</div>



<!-- <div class="d-flex justify-content-around flex-wrap">
  <app-cards
  [title]="posts[0].title"
  [url]="posts[0].url"
  [subtitle]="posts[0].subtitle"
  [content]="posts[0].content"
  ></app-cards>
  <app-cards
  [title]="posts[1].title"
  [url]="posts[1].url"
  [subtitle]="posts[1].subtitle"
  [content]="posts[1].content"
  ></app-cards>
  <app-cards
  [title]="posts[2].title"
  [url]="posts[2].url"
  [subtitle]="posts[2].subtitle"
  [content]="posts[2].content"
  ></app-cards>
</div> -->